//COLOURS
$title: #1a1347;
$text: #444444;

$white: #ffffff;
$grey: #f6f5f5;
$black: #000000;

$border: #d7d7d7;

//GRID
$screen-xxs: 375px;
$screen-xs: 500px;
$screen-sm: 768px;
$screen-md: 1050px;
$screen-lg: 1230px;
$screen-xl: 1460px;
$screen-xxl: 1700px;
